@media(max-width: 768px) {
	.header-section {
		margin-bottom: 80px;
	}

	.container {
		width: 720px !important	;
		margin: 0 auto;
	}

	.header {
		widows: 720px !important;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	}

	.header>.container {
		margin: 0;
		padding: 10px 0px; 
		justify-content:;
		width: 720px !important;
		display: flex;
		align-items: center;

	}

	.header>.container>a img {
		width: 30px;
	}

	.header-list {
		display: flex;
	}

	.header-item{
		font-size: 12px;
		padding: 0px;
	}

	.header-item a {
		color: black;
	}

	.header-item::after {
		margin-top: 3px;
		transition: 1s;
		content: "";
		display: block;
		height: 4px;
		width: 0px;
		background:linear-gradient(to right,#BEC9E3,#ADBDE3,#64D3FC,#14ACE3,#1460E3);

	}

	.header-item:hover::after{
		content: "";
		display: block;
		width: 100%;
	}

	.header-items a{
		color: white;
		padding: 0;
		border-radius:5px;
		background-color:#00BAFC;
	}


	iframe {
		margin-top: 40px;
		width:400px;
		border-radius: 15px;
	}

	.header-subtext {
		justify-content: center;
		align-items: center;
		text-align: center;
		display: flex;
		flex-direction: column;
		width:500px !important;
		margin:0px auto 120px 120px;  
	}


	.header-title {
		width: 200px;
		font-size: 30px !important;
	}

	.header-paragraph {
		line-height: 15px;
		margin-top:10px;
		width: 400px;   
		margin-bottom: 15px;
		font-size: 20px;
	}

	.header-button {
		border-radius: 5px;
		color: white;
		background-color:#00BAFC;
		padding: 10px 20px;

	}

	.visually-hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
	}

	.services {
		width: 720px !important;
		margin-bottom: 80px;
	}

	.services-title {
		margin: 0 auto 0 120px !important;
		width:500px;
	}

	.services-list {
		width: 100% !important;
		flex-wrap: wrap;
		justify-content: center;
		display: flex;
	}

	.services-item img {
		width: 80px;
	}

	.services-item {
		padding: 15px;
		box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin:15px 25px !important;
		width: 200px !important;
	}
	.services-item h3 {
		margin:10px 0px;
	}

	.services-buttons {
		display: flex;
		width: 350px;
		margin:0 auto 0 200px !important;
		align-items: center;

	}

	.services-buttons a:nth-child(1) {
		background-color:#00BAFC;
		color: white;
		padding: 10px 20px;
		border-radius: 5px;
	}

	.services-buttons a:nth-child(2) {
		color: #40CBFD;
		text-decoration: underline;
	}

	.posts {
		margin-bottom: 80px;
	}

	.posts-title {
		margin: 0 auto 0 140px !important;
		text-align: center;
		width:500px;
	}

	.post-list {
		width: 720px;
		display:;
	}


	.posts-item {
		align-items: center;
		display: flex;
		justify-content: space-around;
		width: 80%;
	}

	.posts-items {
		width: 80% !important;
		justify-content: space-around;
		align-items: center;
		flex-direction: row-reverse;
		display: flex;
	}
	.posts-items img {
		width: 200px !important;
	}
	.posts-item img {
		width: 200px !important;
	}

	.posts-item_subtext {
		width: 450px;
	}

	.posts-button {
		padding: 10px 20px;
		color: white;
		display: block;
		margin: 30px auto 30px auto	 !important;
		width: 170px;
		text-align: center;
		border-radius: 5px;
		background-color: #00BAFC;
	}

	.registration {
		background-color: #00BAFC;
		padding: 80px;
	}

	.registration-title {
		color: white;
		margin: 0px auto 30px 60px !important;
		text-align: center;
		width:500px;
	}

	.form {
		padding: 20px;
		margin:0 auto !important;;
		background-color: white;
		display: flex;
		flex-direction: column;
		width: 320px !important;
		border-radius: 5px;
	}

	.form>label>input {
		padding: 8px 15px;
		color: black;
		display:block;
		margin: 10px auto;
		width:90%;
		font-size: 20px;
		background-color:#E5E5E5;
		height: 50px;
		border: none;
		outline: none;
	}

	.form>label>select {
		padding: 8px 15px;
		color: black;
		display:block;
		margin: 10px auto;
		width:90%;
		font-size: 20px;
		background-color:#E5E5E5;
		height: 50px;
		border: none;
		outline: none;
	}


	input::placeholder{
		display: block;
		color: black;
	}

	.form>label>a {
		text-align: center;
		display: block;
		margin: 0 auto;
		background-color: #00BAFC;
		color: white;
		padding:10px 20px;
		width: 150px;
		border-radius: 5px;
		margin-top: 10px; 
	}

	.footer {
		position: relative;
		left: 0px;
		right: 0px;
		width: 100%;
		padding: 40px 0px;
		font-size: 1A5px;
		color: white;
		background-color: #191919;
	}

	.footer-list {
		width: 100%;
		justify-content: space-around;
		display: flex;
	}

	.footer-item:nth-child(1) {
		width: 320px;
	}

	.footer-item:nth-child(1) p {
		margin-top: 10px;
		line-height: 30px;
	} 

	.footer-item:nth-child(3) p {
		display: flex;
		align-items: center;
		width: 100px;
		margin: 15px 0px;
	}

	.footer-item:nth-child(2){
		line-height: 30px;
	}

	.footer-item:nth-child(2) h2 {
		margin-bottom: 15px;
	}
}